<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 设置别名 -->
	<typeAliases>
		<typeAlias type="com.fei.entity.Ship" alias="Ship" />
		<typeAlias type="com.fei.entity.Stype" alias="Stype" />
		<typeAlias type="com.fei.entity.Nationality" alias="Nationality" />
	</typeAliases>

	<!-- 可以配置多套运行环境 -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />  <!-- 数据库连接驱动 -->
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://localhost:3306/collectionr"/>
				<property name="username" value="root" />
				<property name="password" value="123456" />
			</dataSource>
		</environment>
	</environments>
	<!-- 映射到的配置文件 -->
	<mappers>
		<mapper resource="com/fei/mapping/ShipMapping.xml" />
		<mapper resource="com/fei/mapping/NationalityMapping.xml" />
		<mapper resource="com/fei/mapping/StypeMapping.xml" />
	</mappers>
</configuration>
